@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.icon{
  height: fit-content;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: SF-Black;
    src: url(../assets/fonts/SF-Pro-Display-Black.otf) format("opentype");
  }

  @font-face {
    font-family: SF-Black-Italic;
    src: url(../assets/fonts/SF-Pro-Display-BlackItalic.otf) format("opentype");
  }

  @font-face {
    font-family: SF-Bold;
    src: url(../assets/fonts/SF-Pro-Display-Bold.otf) format("opentype");
  }

  @font-face {
    font-family: SF-Bold-Italic;
    src: url(../assets/fonts/SF-Pro-Display-BoldItalic.otf) format("opentype");
  }

  @font-face {
    font-family: SF-Heavy;
    src: url(../assets/fonts/SF-Pro-Display-Heavy.otf) format("opentype");
  }

  @font-face {
    font-family: SF-Heavy-Italic;
    src: url(../assets/fonts/SF-Pro-Display-HeavyItalic.otf) format("opentype");
  }

  @font-face {
    font-family: SF-Light;
    src: url(../assets/fonts/SF-Pro-Display-Light.otf) format("opentype");
  }

  @font-face {
    font-family: SF-Light-Italic;
    src: url(../assets/fonts/SF-Pro-Display-LightItalic.otf) format("opentype");
  }

  @font-face {
    font-family: SF-Medium;
    src: url(../assets/fonts/SF-Pro-Display-Medium.otf) format("opentype");
  }

  @font-face {
    font-family: SF-Medium-Italic;
    src: url(../assets/fonts/SF-Pro-Display-MediumItalic.otf) format("opentype");
  }

  @font-face {
    font-family: SF-Regular;
    src: url(../assets/fonts/SF-Pro-Display-Regular.otf) format("opentype");
  }

  @font-face {
    font-family: SF-Semibold;
    src: url(../assets/fonts/SF-Pro-Display-Semibold.otf) format("opentype");
  }

  @font-face {
    font-family: SF-Semibold-Italic;
    src: url(../assets/fonts/SF-Pro-Display-SemiboldItalic.otf) format("opentype");
  }

  @font-face {
    font-family: SF-Thin;
    src: url(../assets/fonts/SF-Pro-Display-Thin.otf) format("opentype");
  }

  @font-face {
    font-family: SF-Thin-Italic;
    src: url(../assets/fonts/SF-Pro-Display-ThinItalic.otf) format("opentype");
  }

  @font-face {
    font-family: SF-Ultralight;
    src: url(../assets/fonts/SF-Pro-Display-Ultralight.otf) format("opentype");
  }

  @font-face {
    font-family: SF-Ultralight-Italic;
    src: url(../assets/fonts/SF-Pro-Display-UltralightItalic.otf) format("opentype");
  }
}
